.header {
    margin-left:2rem;
    margin-right: 2rem;
    padding: 2rem;
    font-size: 2rem;
    background-color: #D9D9D9;
    text-align: center;
    border-radius: 10px;
 }
 .formulario{
  margin-left:15%;
  width: 70%;
  margin-top: 6rem;
 }
 .formulario-input{
  display: block;
 }
 .formulario-botones{
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
 }
 .formulario-botones-boton{
  margin-right: 40px;
 }