<mat-drawer-container class="mat-drawer-container" class="menmudes">
  <mat-drawer #drawer class="sidenav" [opened]="false">
    <app-home></app-home>
  </mat-drawer>
  <section>

    <div class="headernew">
      <div class="bontonheader">
        <button (click)="drawer.toggle()">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14" />
          </svg>
        </button>
      </div>
      <div class="tittle">
        Reservas
      </div>
    </div>

  </section>

      <section class="cuerpo">
        <mat-form-field class="search">
          <mat-label>Filtrar Reserva</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Cálculo Diferencial" #input>
        </mat-form-field>

        <div class="mat-elevation-z8 tabla">
          <mat-spinner *ngIf="loading" class="spinner" ></mat-spinner>
          <table mat-table [dataSource]="dataSource" matSort *ngIf="!loading">

            <ng-container matColumnDef="nrc">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> NRC </th>
              <td mat-cell *matCellDef="let row"> {{ row.nrc }} </td>
            </ng-container>

            <ng-container matColumnDef="curso_nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Curso </th>
              <td mat-cell *matCellDef="let row"> {{ row.curso_nombre }} </td>
            </ng-container>
            <ng-container matColumnDef="recurso_nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Recurso </th>
              <td mat-cell *matCellDef="let row"> {{ row.recurso_nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="tipo_autor">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Autor </th>
              <td mat-cell *matCellDef="let row"> {{ row.tipo_autor }} </td>
            </ng-container>

            <ng-container matColumnDef="cantidad_reserva">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad de Reserva </th>
              <td mat-cell *matCellDef="let row"> {{ row.cantidad_reserva }} </td>
            </ng-container>

            <ng-container matColumnDef="bloque_nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Bloque </th>
              <td mat-cell *matCellDef="let row"> {{ row.bloque_nombre }} </td>
            </ng-container>

            <ng-container matColumnDef="bloque_rango">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Rango de Bloque </th>
              <td mat-cell *matCellDef="let row"> {{ row.bloque_rango }} </td>
            </ng-container>

            <ng-container matColumnDef="reserva_fecha">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Reserva </th>
              <td mat-cell *matCellDef="let row"> {{ row.reserva_fecha }} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_registro">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Registro </th>
              <td mat-cell *matCellDef="let row"> {{ row.fecha_registro }} </td>
            </ng-container>
            <!--
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button matTooltip="Enviar Correo" aria-label="Example icon-button with an email icon" (click)="enviarCorreo(row)">
                  <mat-icon>email</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Eliminar" aria-label="Example icon-button with a delete icon" >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>-->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="8">No se encontraron reservas</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[10]" aria-label="Seleccionar página de usuarios"></mat-paginator>
        </div>
      </section>
  </mat-drawer-container>
