<section>

  <p class = "Header">Reservas</p>
</section>

<section>
  <div class="container_header">
    <ul>
      <li>N</li>
      <li>Asignaturas / NRC</li>
      <li>Cantidad Licencias</li>
      <li>Fecha de Creación</li>
      <li>Fecha de Reserva</li>
      <li>Bloque</li>
      <li>Editar</li>
    </ul>
  </div>
  <div class="container_object">
    <ul>
      <li>1</li>
      <li>Asignatura 1 / 12345</li>
      <li>10</li>
      <li>12/12/2018</li>
      <li>12/12/2018</li>
      <li>1</li>
      <li><a href="#">Editar</a></li>
    </ul>
    <ul>
      <li>2</li>
      <li>Asignatura 2 / 12346</li>
      <li>10</li>
      <li>12/12/2018</li>
      <li>12/12/2018</li>
      <li>2</li>
      <li><a href="#">Editar</a></li>
    </ul>
    <ul>
      <li>3</li>
      <li>Asignatura 3 / 12347</li>
      <li>10</li>
      <li>12/12/2018</li>
      <li>12/12/2018</li>
      <li>3</li>
      <li><a href="#">Editar</a></li>
    </ul>
    <ul>
      <li>4</li>
      <li>Asignatura 4 / 12348</li>
      <li>10</li>
      <li>12/12/2018</li>
      <li>12/12/2018</li>
      <li>4</li>
      <li><a href="#">Editar</a></li>
    </ul>
    <ul>
      <li>5</li>
      <li>Asignatura 5 / 12349</li>
      <li>10</li>
      <li>12/12/2018</li>
      <li>12/12/2018</li>
      <li>5</li>
      <li><a href="#">Editar</a></li>
    </ul>

  </div>

</section>

<section class ="paginator">
  <mat-paginator [length]="100"
                aria-label="Select page">
  </mat-paginator>
</section>
