@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
.header, .Header {
    background-color:  #8e6dcf  !important;
    color:white;
    border-radius: 5px;
}

.mat-drawer-container {
    height: 100%;
}
.side-nav {
  width: 300px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
