body{
  overflow: hidden;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 1.2rem;
}

.body {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  margin-top: 5rem;
}

.Container-Reserva {
  margin: 2rem;
  width: 20%;
  height: 90%;
  font-size: 2rem;
}

.Container {
  overflow: scroll;
  max-height: 50rem ;
  max-width: 33rem;
  max-height: 45rem ;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 1rem;
  width: 100%;
  display: block;
  font-size: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #F0F0F0;
}

.Container div {
  font-size: 2rem;
  margin-top: 2rem;
}

select {
  margin-top: 1rem;
  background-color: white;
  border: none;
  color: black;
  appearance: none;
  height: 2.5rem;
  width: 100%;
}

.selectmaterials{
  margin-top: 1rem;
  width: 100%;
}
select option {
  padding: 2.5rem;
}
select:hover{
  cursor: pointer;
}
.cantidad_alumnos
{
  text-align: center;
  margin-top: 1rem;
  background-color: white;
  border: none;
  color: black;
  appearance: none;
  height: 2.5rem;
  width: 100%;

}
.fechita{
  margin-top: 1rem;
  background-color: white;
  border: none;
  color: black;
  appearance: none;
  height: 2.5rem;
  width: 100%;
}
.fechita:hover{
  cursor: pointer;
}
.input_number{
  margin-top: 1rem;
  background-color: white;
  border: none;
  color: black;
  appearance: none;
  height: 2.5rem;
  width: 100%;
}
.Messaje_negative{
  color: red;
  font-size: 1rem;
  margin-top: 1rem;
}
.botones{
  display: flex;
  justify-content: center;
}
.button {
  margin: 1rem;
  width: 10rem;
  height: 2rem;

}


.Container_full_Calendar {
  width: 80%;
  margin-left: 1rem;
}
.calendar{
  margin-right: 1rem;
  margin-left: 2rem;
  font-size: 1rem;
  height:49rem;
  max-height: 45rem ;
}
.events-calendar{
  font-size: 1rem;
}
.oculto {
  display: none;
}

:host ::ng-deep .fc-button-primary {
  background-color: #8e6dcf;
  border-color: #8e6dcf;
  border-radius: 45px;
  color: #ffffff;
}
:host ::ng-deep .fc-button-primary:hover {
  background-color: #6c4791;
  border-color: #6c4791;
}

