<section>
  <p class="Header">Crear Reserva</p>
</section>
<section class="body">
  <div class="Container_Reserva">
    <div class="Container">
      <div class="input_curso">
        <label for="Asignatura">Asignatura: </label>
        <select id="Asignatura" name="Asignatura"
          (change)="actualizarCantidadAlumnos($event); actualizarRecursos($event)">
          <option value="" disabled selected>Seleccione un curso</option>
          <option *ngFor="let curso of cursos" [value]="curso.id">{{ curso.nombre }}</option>
        </select>
      </div>
      <div class="input_cantidad">
        <label for="Recurso">Cantidad de Alumnos: {{ cantidadAlumnos }}</label>
      </div>
      <div class="input_reserva">
        <label for="Recurso">Recurso: </label>
        <select id="Recurso" name="Recurso">
          <option value="" disabled selected>Seleccione un recurso</option>
          <option *ngFor="let recurso of recursos" [value]="recurso.id">{{ recurso.recurso_nombre }}</option>
        </select>
      </div>
      <div class="input_fecha">
        <label for="Fecha">Fecha: </label>
        <input class="fechita" type="date" id="Fecha" name="Fecha" (input)="obtenerFechaSeleccionada($event)">
      </div>
      <div claas="input_Bloque">
        <div>
          <label for="Bloque">Bloque: </label>
          <select id="Bloque" name="Bloque" (change)="actualizarHorario($event)">
            <option value="" disabled selected>Seleccione un bloque</option>
            <option *ngFor="let bloque of bloques" [value]="bloque.id">{{ bloque.nombre }}</option>
          </select>
        </div>
        <div>
          <label for="Horario">Horario: </label>
          <label for="Horario">{{ horarioSeleccionado }}</label>
        </div>
      </div>
      <div class="cantidad_licencias">
        <label id="cantidad_licencia">Cantidad de licencias disponibles: {{ cantidadLicenciasDisponibles }}</label>
      </div>

      <div class="Input_licencias">
        <label for="Licencias">Cantidad de Licencias:</label>
        <input class="input_number" type="number" id="Licencias" name="Licencias" min="1" max="20"
          placeholder="Cantidad de Licencias">
        <label for="Input_licencias" class="Messaje_negative">Ingrese solo La cantidad de Recursos Disponibles</label>


      </div>
      <div class="botones">
        <button type="button">Reservar</button>
        <button type="button" name="button">Cancelar</button>

      </div>
    </div>
  </div>
  <div class="Container_full_Calendar">
      <full-calendar [options]="calendarOptions" class="calendar">
        <ng-template #eventContent let-arg >
          <b class="events-calendar">{{arg.timeText}}</b>
          <i class="events-calendar">{{arg.event.title}}</i>
        </ng-template>
      </full-calendar>
    <div class="calendar">
      <img src="https://fullcalendar.io/docs/showNonCurrentDates-false.png" alt="">
    </div>
  </div>
</section>
