<section>
  <p class="Header">Crear Reserva</p>
</section>
<section class="body">
  <div class="Container_Reserva">
    <div class="Container">
      <div class="input_reserva">
        <label for="Recurso">Recurso: </label>
        <select id="Recurso" name="Recurso">
          <option value="option1">Algetec</option>
          <option value="option2">Microsoft Excel</option>
          <option value="option3">Paint</option>
        </select>
      </div>
      <div class="input_curso">
        <label for="Asignatura">Asignatura: </label>
        <select id="Asignatura" name="Asignatura">
          <option value="Asignatura1">12548 - Calculo Diferencial</option>
          <option value="Asignatura2">12549 - Calculo Integral</option>
          <option value="Asignatura3">12550 - Calculo Vectorial</option>
        </select>
      </div>
      <div class="input_cantidad">
        <label for="Recurso">Cantidad de Alumnos:</label>
        <input type="number" class="cantidad_alumnos">
      </div>
      <div claas="input_fecha">
        <label for="Fecha">Fecha: </label>
        <input class="fechita" type="date" id="Fecha" name="Fecha">
      </div>
      <div claas="input_Bloque">
        <div>
          <label for="Bloque">Bloque: </label>
          <select id="Bloque" name="Bloque">
            <option value="Bloque1">Bloque I</option>
            <option value="Bloque2">Bloque II</option>
            <option value="Bloque3">Bloque III</option>

          </select>
        </div>
        <div>
          <label for="Bloque">Horario: </label>
          <label for="Bloque">7:00:00 8:30:00 </label>
        </div>
      </div>
      <div class="cantidad_licencias">
        <label for="cantidad_licencia">Cantidad de liscencias displonibles: 20 </label>
      </div>
      <div class="Input_licencias">
        <label for="Licencias">Cantidad de Licencias:</label>
        <input class="input_number" type="number" id="Licencias" name="Licencias" min="1" max="20"
          placeholder="Cantidad de Licencias">
        <label for="Input_licencias" class="Messaje_negative">Ingrese solo La cantidad de Recursos Disponibles</label>


      </div>
      <div class="botones">
        <button type="button" name="button">Reservar</button>
        <button type="button" name="button">Cancelar</button>

      </div>
    </div>
  </div>
  <div class="Container_full_Calendar">
    <div class="calendar">
    </div>
  </div>
</section>
