
.Header{
  margin: 2rem;
  margin-bottom: 0rem;
  margin-top: -1rem;
  padding: 2rem;
  font-size: 2rem;
  background-color: #D9D9D9;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  border-radius: 20px;
}
.container_header{
  margin-right: 6rem;
  margin-left: 6rem;
  background-color: #D9D9D9;
  padding: 1rem;
}
.search{
  display: flex;
  justify-content: space-between;

}
.cuerpo{
  margin: 4rem;
  margin-top: 1rem;
}
.barra{
  width: 100%;
}
.Filter{
  display: flex;
  justify-content: space-between;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


