<mat-drawer-container class="mat-drawer-container" >
  <mat-drawer #drawer class="sidenav" [opened]="false">
      <app-home></app-home>
  </mat-drawer>
  <div class="sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu">
          </mat-icon>
      </button>
      <section>
        <p class="Header">Reservas - Administrador</p>
      </section>

      <section class="cuerpo">
        <div class="search">
          <mat-form-field class="barra">
            <mat-label>Filtrar Reserva</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Cálculo Diferencial" #input>
          </mat-form-field>
        </div>

          <div class="Filter">
            <mat-form-field>
              <mat-label>Recurso</mat-label>
              <mat-select disableRipple [(ngModel)]="selectedRecurso" (ngModelChange)="listarReservas()">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let recurso of recurso" [value]="recurso.recurso_id">{{ recurso.recurso_nombre }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Bloques</mat-label>
              <mat-select disableRipple [(ngModel)]="selectedBloque" (ngModelChange)="listarReservas()">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let bloque of bloques" [value]="bloque.bloque_id">{{ bloque.bloque_nombre }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Estado</mat-label>
              <mat-select disableRipple [(ngModel)]="selectedEstado" (ngModelChange)="listarReservas()">
                <mat-option [value]="null"></mat-option>
                <mat-option value="Activo">Activo</mat-option>
                <mat-option value="Inactivo">Inactivo</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Fecha de Reserva</mat-label>
              <mat-date-range-input [rangePicker]="picker1">
                <input matStartDate placeholder="Inicio" [(ngModel)]="selectedFechaReservaInicio" (dateChange)="listarReservas()">
                <input matEndDate placeholder="Fin" [(ngModel)]="selectedFechaReservaFin" (dateChange)="listarReservas()">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-date-range-picker #picker1></mat-date-range-picker>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Fecha de Registro</mat-label>
              <mat-date-range-input [rangePicker]="picker2">
                <input matStartDate placeholder="Inicio" [(ngModel)]="selectedFechaRegistroInicio" (dateChange)="listarReservas()">
                <input matEndDate placeholder="Fin"[(ngModel)]="selectedFechaRegistroFin" (dateChange)="listarReservas()">
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-date-range-picker #picker2></mat-date-range-picker>
            </mat-form-field>
        </div>
        <div class="mat-elevation-z8 tabla">
          <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="reserva_id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row"> {{ row.reserva_id }} </td>
            </ng-container>

            <ng-container matColumnDef="nrc">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> NRC </th>
              <td mat-cell *matCellDef="let row"> {{ row.nrc }} </td>
            </ng-container>

            <ng-container matColumnDef="curso_nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Curso </th>
              <td mat-cell *matCellDef="let row"> {{ row.curso_nombre }} </td>
            </ng-container>
            <ng-container matColumnDef="recurso_nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Recurso </th>
              <td mat-cell *matCellDef="let row"> {{ row.recurso_nombre }} </td>
            </ng-container>
            <ng-container matColumnDef="docente_nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Docente </th>
              <td mat-cell *matCellDef="let row"> {{ row.docente_nombre }} </td>
            </ng-container>

            <ng-container matColumnDef="tipo_autor">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Autor </th>
              <td mat-cell *matCellDef="let row"> {{ row.tipo_autor }} </td>
            </ng-container>

            <ng-container matColumnDef="cantidad_reserva">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad de Reserva </th>
              <td mat-cell *matCellDef="let row"> {{ row.cantidad_reserva }} </td>
            </ng-container>

            <ng-container matColumnDef="bloque_nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Bloque </th>
              <td mat-cell *matCellDef="let row"> {{ row.bloque_nombre }} </td>
            </ng-container>

            <ng-container matColumnDef="bloque_rango">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Rango de Bloque </th>
              <td mat-cell *matCellDef="let row"> {{ row.bloque_rango }} </td>
            </ng-container>

            <ng-container matColumnDef="reserva_fecha">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Reserva </th>
              <td mat-cell *matCellDef="let row"> {{ row.reserva_fecha }} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_registro">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Registro </th>
              <td mat-cell *matCellDef="let row"> {{ row.fecha_registro }} </td>
            </ng-container>

            <ng-container matColumnDef="reserva_estado">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
              <td mat-cell *matCellDef="let row"> {{ row.reserva_estado }} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="8">No se encontró reservas</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[10]" aria-label="Seleccionar página de usuarios"></mat-paginator>
        </div>
      </section>
    </div>
</mat-drawer-container>
  


