<div class="container" id="main-container">
    <div class="logo">
        <img src="../../assets/Logo horizontal blanco.png" alt="Company Logo"/>
    </div>
    <div class="login-container">
        <h2 class="welcome-message">
            Bienvenido al sistema de reservas de la oficina de Recursos Académicos Virtuales
        </h2>
        <h3 class="instruction-message">
            Ingresa con tu correo institucional
            <br>
            Uso exclusivo para docentes
        </h3>
        <h3 class="tutorial-link">
            <a href="https://www.youtube.com/watch?v=WE1y2TnYfxY" target="_blank">Tutorial de uso de Sistema de Reservas</a>
        </h3>
        <div class="google-container">
            <asl-google-signin-button type="standard" size="large"></asl-google-signin-button>
        </div>
    </div>
</div>
<script>
    window.addEventListener('load', function() {
        const googleButton = document.querySelector('asl-google-signin-button');
        const mainContainer = document.getElementById('main-container');

        if (googleButton) {
            googleButton.addEventListener('load', function() {
                mainContainer.classList.add('loaded');
            });
        }
    });
</script>