<div class="contenedor">
    <div class="contenedor-login">
        <h2>
            Bienvenido al sistema de reservas de la oficina de Recursos Académicos Virtuales
        </h2>
        <h3>
            Ingresa con tu correo institucional
        </h3>
        <h3><a href="https://www.youtube.com/watch?v=WE1y2TnYfxY" target="_blank">Tutorial de uso de Sistema de Reservas</a></h3>
        
        <asl-google-signin-button type="standard" size="large"> </asl-google-signin-button>
    </div>
</div>