.header {
    margin-left:2rem;
    margin-right: 2rem;
    padding: 2rem;
    font-size: 1.5rem;
    background-color: #D9D9D9;
    text-align: center;
    border-radius: 10px;
 }
 .tabla{
    width: 90%;
    margin:0 auto;
    
 }
 .busqueda{
   width: 90%;
   margin: 0 auto;
   margin-top :5rem;
 }
 .busqueda-botones{
   margin-bottom:10px
 }
 table{
    font-size: 1px;
 }